<footer>
    <div class="row">
        <div class="small-12 columns text-center">
            <ul class="inline-list footer-contacts">
                <li><a data-tooltip class="tip-top" href="mailto:iutinvg@gmail.com" title="iutinvg@gmail.com"><i class="icon-envelope"></i></a></li>
                <li><a data-tooltip class="tip-top" href="skype:slavaiutin?call" title="slavaiutin"><i class="icon-skype"></i></a></li>
            </ul>

            <p class="copyright">
                &copy; {{ site.time | date: "%Y" }} Seven Crayons
            </p>
        </div>
    </div>
</footer>
