<footer>
    <div class="row">
        <div class="small-12 columns text-center">
            <ul class="inline-list footer-contacts black-links non-underlined-links">
                <li><a title="iutinvg@gmail.com" href="mailto:iutinvg@gmail.com"><i class="icon-envelope"></i></a></li>
                <li><a title="iutinslava" href="skype:iutinslava?call"><i class="icon-skype"></i></a></li>
                <li><a title="github" href="https://github.com/iutinvg"><i class="icon-github"></i></a></li>
                <li><a title="stackoverflow" href="http://stackoverflow.com/users/444966/iutinvg"><i class="icon-stackexchange"></i></a></li>
                <li><a title="linkedin" href="http://www.linkedin.com/in/iutin"><i class="icon-linkedin"></i></a></li>
                <li><a title="twitter" href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
                <li><a title="google plus" href="https://plus.google.com/114152005203882927537/posts"><i class="icon-google-plus"></i></a></li>
            </ul>
            <p class="copyright">
                &copy; {{ site.time | date: "%Y" }} Seven Crayons
            </p>
        </div>
    </div>
</footer>
