<footer>
  <div class="row">
    <div class="col-lg-7 col-sm-10 quote">
      <p>"Everything you can imagine is real..."</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-sm-4 col-lg-offset-5 col-md-offset-5 col-sm-offset-7 col-xs-offset-7 quote">
      <p>P. Picasso</p>
    </div>
  </div>

  <div class="row social">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <ul class="list-inline">
        <li><a class="email" href="#">Email</a></li>
        <li><a class="github" href="#">Github</a></li>
        <li><a class="linkedin" href="#">Linkedin</a></li>
        <li><a class="twitter" href="#">Twitter</a></li>
        <li><a class="stack" href="#">Stackoverflow</a></li>
        <li><a class="skype" href="#">Skype</a></li>
      </ul>
    </div>
  </div>
</footer>
