<header class="row header">
  <div class="col-xs-12">
    <img src="img/splash.png" alt="Seven Crayons">
    <a class="home hidden-xs" href="{{ site.baseurl }}/">Seven Crayons, software development company</a>
    <p class="company-name">
      <a href="{{ site.baseurl }}/">Seven Crayons</a>
    </p>
    <p class="company-slogan hidden-xs">
      <a href="{{ site.baseurl }}/">software development company</a>
    </p>
  </div>
</header>

<nav class="row nav">
  <div class="col-sm-3"><a class="active" href="{{ site.baseurl }}/">Home</a></div>
  <div class="col-sm-3"><a href="#">Development</a></div>
  <div class="col-sm-3 design-portfolio"><a href="{{ site.baseurl }}/design.html">Design</a></div>
  <div class="col-sm-3"><a href="{{ site.baseurl }}/blog.html">Blog</a></div>
</nav>
