<header class="row header">
  <div class="col-xs-12">
    <img src="{{ site.baseurl }}/img/splash.png" alt="Seven Crayons">
    <a class="home hidden-xs" href="{{ site.baseurl }}/">Seven Crayons, software development company</a>
    <p class="company-name">
      <a href="{{ site.baseurl }}/">Seven Crayons</a>
    </p>
    <p class="company-slogan hidden-xs">
      <a href="{{ site.baseurl }}/">software development company</a>
    </p>
  </div>
</header>

<nav class="row nav">
  {% if page.active == "home" %}
  <div class="col-sm-3"><a class="active" href="{{ site.baseurl }}/">Home</a></div>
  {% else %}
  <div class="col-sm-3"><a href="{{ site.baseurl }}/">Home</a></div>
  {% endif %}

  {% if page.active == "development" %}
  <div class="col-sm-3"><a class="active" href="{{ site.baseurl }}/development.html">Development</a></div>
  {% else %}
  <div class="col-sm-3"><a href="{{ site.baseurl }}/development.html">Development</a></div>
  {% endif %}

  {% if page.active == "design" %}
  <div class="col-sm-3 design-portfolio"><a class="active" href="{{ site.baseurl }}/design.html">Design</a></div>
  {% else %}
  <div class="col-sm-3 design-portfolio"><a href="{{ site.baseurl }}/design.html">Design</a></div>
  {% endif %}

  {% if page.active == "blog" %}
  <div class="col-sm-3"><a class="active" href="{{ site.baseurl }}/blog.html">Blog</a></div>
  {% else %}
  <div class="col-sm-3"><a href="{{ site.baseurl }}/blog.html">Blog</a></div>
  {% endif %}
</nav>
