<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta content="Vyacheslav Iutin" name="author">
  <meta content="Vyacheslav Iutin: Web and mobile developer" name="description">
  <meta content="vyacheslav, iutin, vyacheslav iutin, web development, mobile development, django, python, iphone development, android development" name="keywords">

  <title>{{ page.title }}</title>

  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <script src="/js/custom.modernizr.js"></script>
</head>
<body>
  {% include header.html %}

  {{ content }}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
  $(document).foundation();
  </script>
</body>
</html>
