<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link type="text/plain" rel="author" href="humans.txt" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/foundation.min.css" />
	<link rel="stylesheet" href="/css/app.css" />
	<script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<h1><a href="/">Vyacheslav Iutin</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li><a href="/blog.html">Blog</a></li>
			</ul>
		</section>
	</nav>
	<section class="row">
		{{ content }}
	</section>
	<script>
	document.write('<script src=' +
	('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
	'.js><\/script>')
	</script>
	<script src="/js/foundation/foundation.js"></script>
	<script>
	$(document).foundation();
	</script>
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-41419223-2']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
</body>
</html>
